<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mig.dao.DepartmentDao">
  <resultMap id="BaseResultMap" type="com.tencent.mig.model.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="job_prefix" jdbcType="VARCHAR" property="jobPrefix" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dept_id, name, sub_name, job_prefix
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from tb_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertList" parameterType="com.tencent.mig.model.Department">
    insert into tb_department (dept_id, name,
      sub_name, job_prefix)
    values
    <foreach collection="list" separator="," item="item" index="index">
      (#{item.deptId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR},
      #{item.subName,jdbcType=VARCHAR}, #{item.jobPrefix,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.tencent.mig.model.Department">
    insert into tb_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="jobPrefix != null">
        job_prefix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="jobPrefix != null">
        #{jobPrefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.tencent.mig.model.Department">
    update tb_department
    <set>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="jobPrefix != null">
        job_prefix = #{jobPrefix,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>